/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --main-color: #438a7a;
    --hover-main-color: #397568;
}
.background-design{
    background-color:var(--main-color);
    color:#ffffff;
}
    .background-design:hover {
        color: #ffffff;
    }
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
    .btn-primary:hover {
        color: #fff;
        background-color: var(--hover-main-color);
        border-color: var(--hover-main-color);
    }
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.wrapper {
    /*display: flex;*/
    align-items: stretch;
}

#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar .sidebar-header {
        padding: 20px;
        background: #000000e8;
        text-align: center;
    }

    #sidebar ul.components {
        padding: 2px 10px;
        border-bottom: 1px solid #fff;
    }

    #sidebar ul li {
        padding: 10px;
        font-size: 18px;
        border-radius:5px;
        text-align:center;
        margin:15px;
    }

        #sidebar ul li a {
            color: #565353cf;
            text-decoration: none;
            display: block;
            transition: 0.3s;
        }

        #sidebar ul li:hover {
            background: var(--main-color);
        }
        #sidebar ul li a:hover {
            color: #ffffff;
        }

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 250px;
}

.navbar {
    padding: 10px;
}

#sidebarCollapse {
    background: #007bff;
    color: #fff;
    border: none;
}

ul li{
    list-style:none;
}

ul.ul-actions
{
    display:flex; 
    padding:0;

}
    ul.ul-actions a {
        padding: 9px;
        cursor: pointer;
        margin: 0 10px;
        border-radius: 5px;
    }
        .ul-actions.ul-actions a.action-view{
            background: rgba(15, 15, 18, .1);

        } 
        .ul-actions.ul-actions a.action-edit{
            background: #50b0f3;
            color:#ffffff;

        }
        .ul-actions.ul-actions a.action-remove {
            background: #ed4343;
            color: #ffffff;
        }